<div class="comment">
    <p>
        <strong>Comentarista:</strong>
        <%= comment.commenter %>
    </p>
    <p>
        <strong>Usuario:</strong>
        <%= comment.user.email %>
    </p>    

    <p>
        <strong>Comentario:</strong>
        <%= comment.body %>
    </p>
</div>