<div id="<%= dom_id article %>" class="article-container">
  <p>
    <strong>Por:</strong>
    <%= article.user.email %>
  </p>
  <h2>
    <strong>Title:</strong>
    <%= article.title %>
  </h2>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>
</div>